
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer {
  background: #1f3b6f;
  color: #ffffff;
  padding: 1.8rem 1rem;
  margin-top: 2rem;
  font-size: 0.95rem;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.footer-menu a {
  margin: 0 0.7rem;
  color: white;
  text-decoration: none;
  font-weight: 3000;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-socials a {
  margin: 0 0.4rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.fouter-legal {
  font-size: 0.85rem;
  opacity: 0.85;
}

.footer-legal a {
  color: white;
  text-decoration: none;
}

.footer-legal a:hover {
  text-decoration: underline;
}

#footer-socials img {
  background: none;
  width: 90px;
  height: auto;
}

#footer-socials {
  background-color: black;
  gap: 15px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  width: 100%;
  height: 7vh;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
}

.logo {
  height: 7vh;
  width: 7vh;
  margin-left: 860px;
}

.logo img {
  object-fit: cover;
  width: 100%;
  width: 100%;
}

.liens ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a:hover {
  text-decoration: underline;
}
